<div class="card m-3">
    <h5 class="card-header">WelCome to Reactive Form</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <!-- firstName -->
                <div class="form-group col-5">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <!-- lastName -->
                <div class="form-group col-5">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <!-- phone no -->
            <div class="form-row">
                <div class="form-group col-5">
                    <label [ngClass]="{'error': submitted && f.phoneNumber.errors}">Phone Number</label>
                    <input type="text" formControlName="phoneNumber"  class="form-control"
                        [ngClass]="{'is-invalid': submitted && f.phoneNumber.errors}">
                    <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                    </div>
                </div>
                <!-- DOB -->
                <div class="form-group col-5">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                        <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format
                            YYYY-MM-DD
                        </div>
                    </div>
                </div>
                <!-- gender -->
                <div class="form-group col-5">
                    <label>Gender</label>
                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="male" type="radio" class="custom-control-input" name="gender"
                                formControlName="gender" value="male" checked>
                            <label class="custom-control-label" for="male">Male</label>
                        </div>

                        <div class="custom-control custom-radio">
                            <input id="female" type="radio" class="custom-control-input" name="gender"
                                formControlName="gender" value="female">
                            <label class="custom-control-label" for="female">Female</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Email -->
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <!-- password -->
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
            <!-- Submit Form -->
            <div class="text-center">
                <button class="btn btn-primary mr-1">Submit</button>
            </div>


        </form>
    </div>
</div> 